<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
  </head>

  <body>
    <div class="navbar">
      <a class="navbar-anchor" href="{{ url_for('home') }}">STOCK PORTFOLIO SUGGESTION ENGINE</a>
    </div>

    <form class="grid" action="/result" method="POST">
      <label for="name">Enter amount to invest (USD):</label>
      <input type="number" id="name" name="name" min="5000" required>

      <label for="strategy">Select the Investment Strategy:</label>
      <select type="text" id="strategy" name="strategy">
        <option name='Ethical Investing' value='Ethical Investing'>Ethical Investing </option>
        <option name='Growth Investing' value='Growth Investing'>Growth Investing </option>
        <option name='Index Investing' value='Index Investing'>Index Investing </option>
        <option name='Quality Investing' value='Quality Investing'>Quality Investing </option>
        <option name='Value Investing' value='Value Investing'>Value Investing </option>
        <option name='Ethical and Growth Investing' value='Ethical Investing and Growth Investing'>Ethical Investing and Growth Investing </option>
        <option name='Ethical and Index Investing' value='Ethical Investing and Index Investing'>Ethical Investing and Index Investing </option>
        <option name='Ethical and Quality Investing' value='Ethical Investing and Quality Investing'>Ethical Investing and Quality Investing </option>
        <option name='Ethical and Value Investing' value='Ethical Investing and Value Investing'>Ethical Investing and Value Investing </option>
        <option name='Growth and Index Investing' value='Growth Investing and Index Investing'>Growth Investing and Index Investing </option>
        <option name='Growth and Quality Investing' value='Growth Investing and Quality Investing'>Growth Investing and Quality Investing </option>
        <option name='Growth and Value Investing' value='Growth Investing and Value Investing'>Growth Investing and Value Investing </option>
        <option name='Index and Quality Investing' value='Index Investing and Quality Investing'>Index Investing and Quality Investing </option>
        <option name='Index and Value Investing' value='Index Investing and Value Investing'>Index Investing and Value Investing </option>
        <option name='Quality and Value Investing' value='Quality Investing and Value Investing'>Quality Investing and Value Investing </option>
      </select>
      <center><button class="button"> Get Investment Plan </button></center>
    </form>
  </body>
</html>
