<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-anchor" href="{{ url_for('home') }}">STOCK PORTFOLIO SUGGESTION ENGINE</a>
        </div>
        <form class="grid">
            <h2>
                <center>Current value of Portfolio : {{ name }} </center> <br />
                <center>Selected Investment Strategies : {{ strategy1 }} and {{ strategy2 }} </center> <br />
                <center>{{ strategy1 }}</center> <hr/> <br/>
                <center><u>{{ stock1 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock1_price }} </center> <br/>
                <center>Amount Invested: {{ stock1_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock2 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock2_price }} </center> <br/>
                <center>Amount Invested: {{ stock2_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock3 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock3_price }} </center> <br/>
                <center>Amount Invested: {{ stock3_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock4 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock4_price }} </center> <br/>
                <center>Amount Invested: {{ stock4_money }} </center> <br />
                </p> <br/>
                <center>{{ strategy2 }}</center> <hr/><br/>
                <center><u>{{ stock5 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock5_price }} </center> <br/>
                <center>Amount Invested: {{ stock5_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock6 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock6_price }} </center> <br/>
                <center>Amount Invested: {{ stock6_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock7 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock7_price }} </center> <br/>
                <center>Amount Invested: {{ stock7_money }} </center> <br />
                </p>
                <br/>
                <center><u>{{ stock8 }}</u></center> <br />
                <p>
                <center>Current share value: {{stock8_price }} </center> <br/>
                <center>Amount Invested: {{ stock8_money }} </center> <br />
                </p>
                <center><img src={{ url_pie }} alt="Image not found"/> </center> <br />
                <center><img src={{ url}} alt="Image not found"/> </center> <br />
            </h2>
        </form>
    </body>
</html>